<div class="col-sm-4 col-md-3 sidebar">



    <!-- Widget -->
    <div class="widget">

        <h5 class="widget-title font-alt">
            <a href="the-situation.html">ABOUT LUKEMIA</a>
        </h5>

        <div class="widget-body">
            <ul class="clearlist widget-comments">
                <li>
                    <a href="luekemia-facts.html">Leukemia facts</a>
                </li>
                <li>
                    <a href="types-of-leukemia.html">Types of Leukemia</a>
                </li>
                <li>
                    <a href="who-is-at-risk-for-leukemia.html">Who is at risk for leukemia?</a>
                </li>
                <li>
                    <a href="what-are-symptoms-of-leukemia.html">What are symptoms of
                        leukemia?</a>
                </li>
            </ul>
        </div>

    </div>
    <!-- End Widget -->


</div>