<div class="col-sm-4 col-md-3 sidebar">



    <!-- Widget -->
    <div class="widget">

        <h5 class="widget-title font-alt">
            <a href="follow-our-work.html">Our Programs</a>
        </h5>

        <div class="widget-body">
            <ul class="clearlist widget-comments">
                <li>
                    <a href="the-gift-of-life.html">The Gift of L.I.F.E.</a>
                </li>
                <li>
                    <a href="activities.html">Activities</a>
                </li>
            </ul>
        </div>

    </div>
    <!-- End Widget -->


</div>