<nav class="main-nav light stick-fixed">
    <div class="full-wrapper relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <a href="intro.html" class="logo">
                <img src="images/my-images/LIFE-02.png" alt="Company logo" />
            </a>
        </div>
        <div class="mobile-nav" role="button" tabindex="0">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Menu</span>
        </div>

        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist">




                <!-- Item With Sub -->
                <li>
                    <a href="index.html" class="mn-has-sub">Home</i></a>


                </li>
                <!-- End Item With Sub -->




                <!-- Item With Sub -->
                <li>
                    <a href="the-situation.html" class="mn-has-sub">About Lukemia <i class="fa fa-angle-down"></i></a>

                    <!-- Sub -->
                    <ul class="mn-sub">

                        <li>
                            <a href="luekemia-facts.html">Leukemia Facts</a>
                        </li>

                        <li>
                            <a href="types-of-leukemia.html">Types of Leukemia</a>
                        </li>

                        <li>
                            <a href="who-is-at-risk-for-leukemia.html">Who is at risk for leukemia</a>
                        </li>

                        <li>
                            <a href="what-are-symptoms-of-leukemia.html">Symptoms of Leukemia</a>
                        </li>

                    </ul>
                    <!-- End Sub -->

                </li>
                <!-- End Item With Sub -->




                <!-- Item With Sub -->
                <li>
                    <a href="follow-our-work.html" class="mn-has-sub">Our Programs <i
                            class="fa fa-angle-down"></i></a>

                    <!-- Sub -->
                    <ul class="mn-sub">

                        <li>
                            <a href="the-gift-of-life.html">The Gift of L.I.F.E.</a>
                        </li>

                        <li>
                            <a href="activities.html">Activities</a>
                        </li>

                    </ul>
                    <!-- End Sub -->

                </li>
                <!-- End Item With Sub -->




                <!-- Item With Sub -->
                <li>
                    <a href="about-us.html" class="mn-has-sub">About us <i class="fa fa-angle-down"></i></a>

                    <!-- Sub -->
                    <ul class="mn-sub">

                        <li>
                            <a href="life-vision.html">L.I.F.E. Vision</a>
                        </li>

                        <li>
                            <a href="the-beginning-of-life.html">The Beginning of L.I.F.E.</a>
                        </li>

                        <li>
                            <a href="life-officials.html">L.I.F.E. Officials</a>
                        </li>

                        <li>
                            <a href="partnering.html">Partnering</a>
                        </li>

                    </ul>
                    <!-- End Sub -->

                </li>
                <!-- End Item With Sub -->




                <!-- Item With Sub -->
                <li>
                    <a href="contact-us.html" class="mn-has-sub">Contact Us</i></a>

                </li>
                <!-- End Item With Sub -->




            </ul>
        </div>
        <!-- End Main Menu -->


    </div>
</nav>


<script type="text/javascript" src="js/all.js"></script>